@font-face {
	font-family: 'Jost'; 
	src: local('Jost'),
		url(/fonts/Jost.ttf); 
}

body {
    margin: 0;
    font-family: 'Jost';
}

.first_block {
    width: 100%;
    height: 100%;
    background-color: #141024;
}

.header {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    color: white;
    
    font-size: 30px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 

}

.header ul {
    display: flex;
    list-style: none;
    gap: 40px;
    margin: 0;
    font-size: 20px;
    grid-area: 1/5/2/9;
    padding-top: 8px;
}

.logo {
    font-weight: 700;
    grid-area: 1/1/2/2;
}

.number_phone {
    font-weight: 600;
    grid-area: 1/11/2/13;
}

.form-kurs {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
    font-family: 'Jost';
    color: white;
    margin-top: 100px;
}

.logo-form {
    font-size: 70px;
    font-weight: 600;

}

.red_button {
    width: 260px;
    height: 80px;
    padding: 25px 54px 25px 54px;
    border-radius: 5px;
    background-color: #D52027;
    color: white;
    font-family: 'Jost';
    font-size: 18px;
    font-weight: 400;
    border: 0;
    margin-top: 50px;
    cursor: pointer;
}

.form-kurs .text {
    margin-top: 20px;
}

.form-kurs img {
    width: 783px;
    height: 918px;
    grid-area: 1 / 7 / 8 / 11;
}

.form-kurs .left-side {
    grid-area: 3 / 3 / 8 / 7;
}

.second_block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    padding-left: 380px;
    padding-right: 380px;
    padding-top: 120px;
    padding-bottom: 120px;
    
}

.second_block .text {
    font-size: 30px;
    grid-area: 1 / 1 / 2 / 9;
}

.statistic {
    grid-area: 2 / 1 / 2 / 13;
}

.statistic ul {
    display: flex;
    padding: 0;
    list-style: none;
    gap: 40px;
    color: #141024b2;
    font-size: 18px;
}

.statistic b {
    color: #D52027;
    font-size: 70px;
    font-weight: 600;
}

.third_block {
    padding-left: 380px;
    padding-right: 380px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F9F9F9;
}

.third_block .zag {
    font-size: 50px;
}

.third_block ul {
    padding: 0;
    display: flex;
    list-style: none;
    gap: 40px;
    color: #141024b2;
    font-size: 18px;
}

.third_block ul b {
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
    padding-bottom: 20px;
}

.third_block ul li {
    margin-top: 20px;
}

.third_block .instruction {
    border-radius: 50px;
    border: 0;
    padding: 2px 12px 2px 12px;
    background-color: #14102414;
    font-size: 18px;
    cursor: pointer;
}

.third_block .button{
    position: relative;
}

.third_block .tooltip-text {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 15px 20px 15px 20px;
    width: 250px;
    box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.1);
    bottom: 40px;
    left: 0px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.button:hover .tooltip-text{
    opacity: 1;
}

.fourth_block {
    padding-left: 380px;
    padding-right: 380px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
}

.fourth_block .zag {
    font-size: 50px;
}

.slider {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 40px;
}

.slider ul{
    padding: 0;
    list-style: none;
    display: flex;
    gap: 40px;
}
.slider li {
    flex: none;
    scroll-snap-align: start;
  }
.slider .name {
    font-size: 24px;
    color: black;
}

.slider .specific {
    font-size: 18px;
    color: #141024B2;
    padding-top: 10px;
    padding-bottom: 20px;
}

.slider .more {
    font-size: 18px;
    color: #D52027;
}

.slider img{
    width: 340px;
    max-height: 472px;
    border-radius: 15px;
}